@model BlogHost.ViewModels.CreateCommentViewModel

@{
    ViewData["Title"] = "CreateComment";
}

<h1>CreateComment</h1>

<form method="post" asp-controller="Comment" asp-action="CreateComment">
        <div>
            <label asp-for="CommentText"></label>
            <input asp-for="CommentText" class="form-control"/>
            <span asp-validation-for="CommentText"></span>
        </div>
        <input class="btn btn-sm btn-primary" type="submit" value="Создать" />
</form>